/* إزالة الهوامش الافتراضية */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 100vh;
}

.editor {
    width: 40%;
    padding: 10px;
    background-color: #1e1e1e;
    color: #ffffff;
    overflow-y: auto;
}

.editor h3 {
    margin: 10px 0 5px;
    font-size: 14px;
    font-weight: normal;
}

.editor textarea {
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
    padding: 8px;

    background-color: #252526;
    color: #ffffff;

    border: none;
    resize: vertical;
    outline: none;
    font-family: monospace;
    font-size: 13px;
}

.preview {
    width: 60%;
    background-color: #ffffff;
}

.preview iframe {
    width: 100%;
    height: 100%;
    border: none;
}

